SafeCityDemoApp/Connected Services/SafeCityDemoServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SafeCityDemo.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SafeCityDemo.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIncident">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Incident" nillable="true" type="tns:Incident" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncident" nillable="true" type="tns:ArrayOfIncident" />
  <xs:complexType name="Incident">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Incident" nillable="true" type="tns:Incident" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
</xs:schema>